*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.background{

    background-image: url('./image/landscape_comp\ \(1\).jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 100vh;
}